body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #FFE5D9
}

h1 {
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #B89E97;
    width: 30%;
    max-height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
    align-content: center;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  text-align: center;
  background-color: #432E36;
  border-radius: 4px;
  color: #FFDBB5;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #260C1A;
}

.main {
    margin-left: 180px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card {
    background-color: #B89E97;
    width: 30%;
    align-content: center;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
}

button {
    display: block;
    max-width: 300px;
    margin: auto;
}

img {
    max-width: 300px;
    max-height: 500px;
}
