.card {
    background-color: #B89E97;
    width: 30%;
    align-content: center;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
}

img {
    max-width: 200px;
    max-height: 200px;
}